<!-- Стили до ширины 1400px -->
header {
    display: block;
    width: 100%;
}
.logo {
    display: inline-block;
    max-width: 400px;
}
.logo-img {
    padding-left: 30px;
}
.logo-text {
  display: inline-block;
  font-size: 29px;
  font-family: "Fira Sans";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.103;
  text-align: left;
  padding-left: 15px;
  width: 100px;
}
.contact {
  display: inline-block;
  font-size: 14px;
  font-family: "Fira Sans";
  color: rgb(233, 84, 88);
  line-height: 2.286;
  text-align: right;
  padding-left: 140px;
}
.social {
    display: inline-block;
    padding-left: 140px
}
.social a{
    padding-left: 10px;
}
nav {
    display: inline;
    //padding-left: 35%;
    position: relative;
    left: 30px;
}
nav a {
  display: inline-block;
  font-size: 16px;
  font-family: "Fira Sans";
  color: rgb(34, 34, 34);
  line-height: 2;
  text-align: right;
  text-decoration: none;
  padding-left: 12px;
}
nav a:hover {
  color: rgb(34, 34, 34);
}
main {

}
.main-bar {
    padding-top: 100px;
    white-space: nowrap;
    display: flex;
}
.rectangle {
  background: white;
  width: 220px;
  height: 209px;
  margin-left: 30px;
}
.first {
    background-color: rgb(186, 31, 35);
    text-align: center;
    white-space: normal;
    display: flex;
    align-items: center;
}
.first span.bold {
  font-size: 14px;
  font-family: "Fira Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.first span.normal {
  font-size: 14px;
  font-family: "Fira Sans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
.second {
    background-image: url(/img/karimov_photo.png);
    background-size: 120%;
    background-position: center;
}
.second:hover {
    transition: all 0.2s ease;
    background-size: 100%;
    background-position: center;
    background-image: url(/img/karimov_photo.png);
    cursor: pointer;
}
.fouth {
  font-size: 56px;
  font-family: "Fira Sans";
  color: rgb(217, 217, 217);
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-title {
  font-size: 40px;
  font-family: "Fira Sans";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-left: 30px;
  padding-top: 70px;
}
.contacts {
    padding-left: 30px;
}
.contact-item {
  padding-top: 30px;
}
.contact-label {
  font-size: 20px;
  font-family: "Fira Sans";
  color: rgb(34, 34, 34);
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
}
.contact-info {
  font-size: 20px;
  font-family: "Fira Sans";
  color: darkred;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  padding-left: 15px;
}
.contact-info a{
    padding-right: 15px;
}
.footer-text {
  padding-top: 100px;
  padding-left: 30px;
  font-size: 18px;
  font-family: "Fira Sans";
  color: rgb(165, 165, 165);
  line-height: 1.778;
  text-align: left;
}
.footer-text .contact {
  padding-left: 0px;
  padding-bottom: 50px;
}