@font-face {
    font-family: "Fira Sans";
    src: url("font/FiraSans-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Fira Sans";
    src: url("font/FiraSans-Book.otf");
}
body {
    width: 100%;
    height: 100%;
    background: #eeeeee;
}
.base {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}